.main-navigation {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 70%;
		float: right;
		padding: 20px 0;
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	a {
		cursor: pointer;
		text-decoration: none;
		@include transition(all ease-out .3s);
	}
	.menu {
		display: block;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			float: right;
		}
	}
	.menu a {
		color: #FFF;
		font-size: 14px;
		line-height: 1.2;
	}
	.menu > li {
		display: block;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			float: left;
		}
	}
	.menu > li > a {
		@media screen and (min-width: $tabwidth) {
			padding: 5px 10px;
		}
	}
	.menu li ul {
		display: none;
	}
}

.menu-toggle {
	display: block;
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}