.site {
	overflow: hidden;
}
.default-template {
	padding-top: 20px;
	min-height: 25em;
	.entry-title {
		margin-top: 0;
	}
	.site-main {
		padding-bottom: 40px;
	}
}
.flexrow {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
	.flexcol {
		position: relative;
		box-sizing: border-box;
	}
}

.site-content {
	padding-top: 30px;
	@media screen and (min-width: $tabwidth) {
		padding-top: 100px;
	}
}

.section-home-boxes {
	padding-top: 20px;
	padding-bottom: 20px;
	@media screen and (min-width: $tabwidth) {
		padding-bottom: 50px;
	}
}
.home-three-boxes {
	.flexcol {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		margin-bottom: 30px;
		@media screen and (min-width: $midwidth) {
			width: 33.3%;
			float: left;
			margin-bottom: 0;
		}
	}
	.inside {
		background-color: $color-dark-blue;
		color: #FFF;
		position: relative;
		width: 330px;
		height: 400px;
		overflow: hidden;
		margin: 0 auto;
		@media screen and (min-width: $tabwidth) {
			width: 360px;
			height: 400px;
		}
		@media screen and (min-width: $midwidth) {
			width: 100%;
			height: 395px;
		}
	}
	.boxinfo {
		display: block;
		text-decoration: none;
		color: #FFF;
		padding: 20px 40px;
		position: relative;
		height: 100%;
		box-sizing: border-box;
		z-index: 25;
	}
	.boxcontentwrap {
		display: block;
		width: 100%;
		height: 100%;
		background-color: $color-navy;
		background-image:url('images/box-blue-bg.png');
		background-position: top center;
		background-repeat: repeat;
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 0;
		z-index: 10;
		@include flexbox();
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
		@include transition(all ease-out .7s);
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.21);
		}
		&:after {
			content:"";
			display: block;
			width: 100%;
			height: 25px;
			background-image:url('images/door_handle.png');
			background-repeat:no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.textwrap {
		position: relative;
		z-index: 10;
		padding: 20px 40px;
		span {
			display: block;
			width: 100%;
		}
	}
	.txt1 {
		font-weight: 600;
		font-size: 23px;
		line-height: 1.2;
		text-transform: uppercase;
	}
	.txt2 {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.5;
		margin-top: 10px;
	}
	.icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		opacity: 0.08;
		@include transition(all ease-out .7s);
		img {
			width: 44%;
			height: auto;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.box-inner-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		background: $color-dark-blue;
		color: #FFF;
	}
	.box-inner-pad {
		text-align: left;
		padding: 72px 20px 20px;
		position: relative;
		line-height: 1.4;
		font-size: 13px;
		ul,ol {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
		}
		li {
			line-height: 1.3;
			font-size: 13px;
			padding-bottom: 3px;
		}
		p {
			margin-top: 0;
			margin-bottom: 15px;
		}
		a {
			color: #FFF;
			text-decoration: none;
			font-size: 12px;
			display: inline-block;
			padding: 1px 0;
			&:hover {
				color: $color-red;
			}
		}
		&.has-image {
			ul,ol { 
				float: left;
    			display: inline-block;
			}
			.boxinnertxt {
				width: 70%;
				float: left;
			}
		}
	}


	.box-inner-image {
		display: inline-block;
		width: 30%;
		float: left;
		position: relative;
		overflow: hidden;
		padding-left: 2px;
		a,img {
			display: block;
			width: 100%;
			height: auto;
			float: left;
		}
		.btntxt {
			display: block;
			background: $color-green;
			color: #FFF;
			font-weight: 300;
			font-size: 13px;
			line-height: 1.2;
			text-align: center;
			text-transform: uppercase;
			padding: 5px 5px 3px;
		    float: left;
		    width: 100%;
		}
		a:hover {
			opacity: 0.6;
		}
	}

	.inner-title {
		width: 100%;
		padding: 20px 20px 22px;
		color: #FFF;
		position: absolute;
		top: 0;
		z-index: 5;
		.pad {
			background: $color-red;
			width: 100%;
			padding: 5px 10px;
		}
		.txt1 {
			display: block;
			width: 100%;
		}
	}

	.boxinfo.has-inner-content.open,
	.boxinfo.has-inner-content:hover {
		.boxcontentwrap {
			margin-top: -130%;
			@media screen and (min-width: $midwidth) {
				margin-top: -135%;
			}
			@media screen and (min-width: $deskwidth) {
				margin-top: -115%;
			}
		}
		.box-inner-content {
			visibility: visible;
			opacity: 1;
		}
	}
}

.section-home-features {
	background: $color-red;
	color: #FFF;
	padding-top: 30px;
	padding-bottom: 30px;
	@media screen and (min-width: $tabwidth) {
		padding-top: 40px;
		padding-bottom: 45px;
	}
	.wrapper {
		@media screen and (min-width: $tabwidth) {
			max-width: 1000px;
		}
	}
}
.section-home-bottom {
	.wrapper {
		overflow: hidden;
	}
	.flexrow {
		margin-left: 0; 
		margin-right: 0; 
		@media screen and (min-width: $tabwidth) {
			margin-left: -15px; 
			margin-right: -15px;
		}
	}
}
.home-icons-features {
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-justify(flex-start);
		@include flexbox-align-items(flex-start);
		@include flexbox-align-content(flex-start);
	}
	.flexcol {
		display: block;
		width: 100%;
		margin-top: 35px;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			margin-top: 0;
		}
		.inside {
			padding-left: 0;
			padding-right: 0;
			@media screen and (min-width: $tabwidth) {
				padding-left: 30px;
				padding-right: 30px;
			}
			@media screen and (min-width: $midwidth) {
				padding-left: 40px;
				padding-right: 40px;
			}
		}
		&.first {
			margin-top: 0;
		}
	}
	.icondiv img {
		width: 100px;
		height: auto;
		margin-bottom: 10px;
		@media screen and (min-width: $tabwidth) {
			width: 90px;
		}
	}
	.titlediv h3 {
		margin: 0 0;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.3;
		color: #FFF;
		text-transform: uppercase;
	}
}

.section-home-bottom {
	.noflexrow {
		position: relative;
		width: 100%;
		float: left;
		@media screen and (min-width: $tabwidth) {
			&:after {
				content:"";
				display: none;
				width: 36%;
				height: 100%;
				background: $color-light-grey;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	.flexcol {
		position: relative;
		z-index: 5;
	}
}

.section-home-storage {
	padding-top: 50px;
	padding-bottom: 0;
	@media screen and (min-width: $tabwidth) {
		width: 64%;
		float: left;
	}
	.flexpad {
		padding-right: 0;
		@media screen and (min-width: $tabwidth) {
			padding-right: 30px;
		}
		@media screen and (min-width: $deskwidth) {
			padding-right: 50px;
		}
	}
	.section-title {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 20px;
		line-height: 1.3;
		margin: 0 0 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $color-red;
	}
	.section-textwrap {
		margin-bottom: 30px;
	}
	.columnswrap {
		padding-bottom: 20px;
	}
	.storage-column {
		@media screen and (min-width: $tabwidth) {
			width: 80%;
			float: left;
		}
		h3 {
			margin: 0 0 10px;
			font-size: 20px;
			font-weight: 600;
		}
		h3.location-title {
			text-transform: uppercase;
		}
		ul {
			margin: 0 0;
			padding: 0 0;
		}
		li {
			list-style: none;
			position: relative;
			font-size: 14px;
			line-height: 1.4;
			margin-bottom: 10px;
			@media screen and (min-width: $tabwidth) {
				padding-right: 20px;
			}
			a {
				color: $color-navy;
				text-decoration: none;
				&:hover {
					color: $color-red;
				}
			}
		}
		.location-column {
			margin-bottom: 30px;
			text-align: center;
			@media screen and (min-width: $tabwidth) {
				width: 50%;
				float: left;
				margin-bottom: 0;
				text-align: left;
			}
		}
	}
	.storage-column-map {
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			width: 18%;
			float: right;
			text-align: right;
		}
		a {
			text-decoration: none;
			display: inline-block;
		}
		img {
			height: auto;
			width: 125px;
			@media screen and (min-width: $tabwidth) {
				width: 110px;
			}
		}
	}
}
.section-home-news {
	background: $color-light-grey;
	@media screen and (min-width: $tabwidth) {
		width: 36%;
		float: right;
	}
	.inside {
		position: relative;
		background: $color-light-grey;
		padding-bottom: 30px;
		margin-bottom: 60px;
		@media screen and (min-width: $tabwidth) {
			margin-bottom: 0;
		}
	}

	.titlediv {
		padding: 30px 20px 10px;
		@media screen and (min-width: $tabwidth) {
			padding: 50px 40px 20px;
		}
	}

	.section-title {
		margin: 0 0;
		padding: 3px 5px 1px;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.3;
		text-transform: uppercase;
		color: #FFF;
		background: $color-navy;
	}

	.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		height: 15%;
		background: -moz-linear-gradient(top, rgba(235,235,235,0) 0%, rgba(209,209,209,0.41) 63%, rgba(209,209,209,0.65) 100%);
		background: -webkit-linear-gradient(top, rgba(235,235,235,0) 0%,rgba(209,209,209,0.41) 63%,rgba(209,209,209,0.65) 100%);
		background: linear-gradient(to bottom, rgba(235,235,235,0) 0%,rgba(209,209,209,0.41) 63%,rgba(209,209,209,0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ebebeb', endColorstr='#a6d1d1d1',GradientType=0 );
		@media screen and (min-width: $tabwidth) {
			bottom: -10px;
		}
	}
}
.home-latest-news {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	/* height: 450px; */
	float: left;
	position: relative;
	/* padding-bottom: 30px; */
	box-sizing: border-box;
	.inner-pad {
		position: relative;
		padding: 0 20px;
		@media screen and (min-width: $tabwidth) {
			padding: 0 40px;
		}
	}
	.inner-pad-autoheight {
		position: relative;
		padding: 0 20px;
		@media screen and (min-width: $tabwidth) {
			padding: 0 40px;
		}
	}
	.news-item {
		width: 100%;
		float: left;
		margin-top: 25px;
	}
	.news-item:first-child {
		margin-top: 0;
	}
	.news-title {
		margin: 0 0 3px;
		font-weight: 600;
		font-size: 15px;
		line-height: 1.3;
		text-transform: uppercase;
		a {
			text-transform: uppercase;
			text-decoration: none;
			outline: none;
			color: $color-navy;
		}
	}
	.excerpt {
		font-size: 13px;
		line-height: 1.4;
	}
	.excerpt p {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.4;
	}
	.button a {
		text-decoration: none;
		color: $color-red;
		font-size: 12px;
		line-height: 1.2;
		display: inline-block;
		border-bottom: 1px solid $color-red;
		&:hover {
			opacity: 0.5;
		}
	}
}

.div-custom-scroll::-webkit-scrollbar {
    width: 8px;
}
 
.div-custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #dedbdb;
}
 
.div-custom-scroll::-webkit-scrollbar-thumb {
  background-color: #16325b;
  outline: none;
  border: 2px solid #dedbdb;
}


.page-link-list {
	margin-top: 20px;
	margin-bottom: 50px;
	ul {
		margin: 0 0;
		padding: 0 0 0 25px;
		list-style: none;
		li {
			position: relative;
			padding-left: 14px;
			line-height: 1.3;
			padding-bottom: 5px;
			ul {
				padding-top: 4px;
				padding-left: 15px;
				li {
					padding-bottom: 3px;
				}
			}
			&:before {
				content:"";
				display: block;
				width: 5px;
				height: 5px;
				background: $color-navy;
				position: absolute;
				top: 8px;
				left: 0;
			}
		}
	}
	a {
		text-decoration: none;
		color: $color-navy;
		&:hover {
			color: $color-red;
		}
	}
}

.news-listing {
	margin-top: 20px;
	.flexcol {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
		@media screen and (min-width: $midwidth) {
			width: 25%;
		}
		.inside {
			box-sizing: border-box;
			height: 100%;
			padding: 15px;
			border: 1px solid #96a7c1;
		}
	}
	.post-title {
		font-size: 16px;
		line-height: 1.3;
		text-transform: uppercase;
		margin: 0 0 8px;
		color: $color-navy;
		a {
			text-decoration: none;
			color: $color-navy;
			font-weight: 600;
		}
	}
	.post-excerpt {
		font-size: 13px;
		line-height: 1.5;
	}
	.post-link a {
		display: inline-block;
		font-size: 13px;
		text-decoration: underline;
	}
}

.pagination {
	margin-top: 20px;
	a,span {
		display: inline-block;
		text-decoration: none;
		font-size: 15px;
		line-height: 1.3;
		padding: 5px 8px 3px;
		color: #FFF;
	}
	span.current {
		background: $color-red;
	}
	a {
		background: #bbbfc8;
	}
	.next,.prev {
		font-size: 13px;
		line-height: 20px;
	}
}
body.page-template-page-news {
	.pagination {
		margin-top: 0;
		margin-bottom: 50px;
	}
}

/* Gform */
body .gform_wrapper .gform_body .top_label div.ginput_container {
	margin-top: 3px;
}
.default-template .gform_wrapper {
	@media screen and (min-width: $deskwidth) {
		max-width: 700px;
		width: 100%;
	}
}
.site-main .gform_wrapper {
	* {
		box-sizing: border-box;
	}
	.gform_body label.gfield_label {
		font-weight: 600;
		font-size: 14px;
	}
	ul.gform_fields li.gfield {
		select {
			height: 36px;
			line-height: 36px;
		}
		&#field_19_5,
		&#field_19_6 {
			box-sizing: border-box;
			@media screen and (min-width: $tabwidth) {
				width: 50%;
				float: left;
				padding-right: 16px;
				clear: none;
				margin-bottom: 20px;
			}
			input[type="text"] {
				width: 100%;
			}
		}
	}
	textarea, select,
	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		border-radius: 0px;
		outline: none;
		@include transition(all ease-out .3s);
		&:focus {
			box-shadow: 0px 0px 8px 0px rgba(6,55,128,0.33);
			border: 1px solid $color-navy;
		}
	}	
	.gform_footer input.button,
	.gform_footer input[type=submit] {
		-webkit-appearance: none;
		background: $color-green;
		color: #FFF;
		text-shadow: none;
		box-shadow: none;
		border-radius: 0px;
		border: none;
		margin: 0 0;
		padding: 13px 33px 11px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 18px;
		@include transition(all ease-out .3s);
		&:hover {
			background: #2d9e57;
		}
	}
}


.error-404 {
	text-align: center;
	.midwrap {
		display: inline-block;
		padding-bottom: 50px;
	}
	.entry-title {
		margin-bottom: 0;
	}
	p {
		margin-top: 0;
	}
	.page-link-list {
		display: inline-block;
		text-align: left;
		margin-top: 0;
	}
}

.features-amenities {
	margin-top: 20px;
	margin-bottom: 50px;
}
.table-style {
	width: 100%;
	border-collapse: collapse;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 5px solid $color-green;
	margin: 0 0;
	thead {
		display: none;
		@media screen and (min-width: $midwidth) {
			display: table-header-group;
		}
	}
	th {
		background: $color-green;
		color: #FFF;
		font-weight: normal;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.2;
		text-align: center;
		padding: 15px 10px;
		text-shadow: none;
		vertical-align: middle;
		border-left: 1px solid rgba(255,255,255,.5);
		&.hcol1 {
			font-weight: bold;
			text-transform: uppercase;
			width: 180px;
			border-left: none;
		}
	}
	tbody {
		td {
			padding: 8px 20px;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.3;
			text-align: left;
			vertical-align: middle;
			border: none;
			border-left: none;
			border-bottom: 1px solid #e6e8e8;
			float: left;
			width: 100%;
			box-sizing: border-box;
			@media screen and (min-width: $midwidth) {
				padding: 18px 10px;
				text-align: center;
				border-bottom: none;
				border-left: 1px solid #e6e8e8;
				float: none;
				width: auto;
			}
			&.bcol1 {
				text-align: left;
				border-left: none;
				.ui-table-cell-label {
					display: none;
				}

				a {
					display: inline-block;
					text-align: left;
					font-size: 20px;
					font-weight: normal;
					margin-top: 20px;
					margin-bottom: 0;
					@media screen and (min-width: $midwidth) {
						text-align: left;
						font-size: 14px;
						line-height: 1.3;
						margin: 0 0;
					}
					&:hover, &:visited {
						color: $color-red;
					}
				}
			}
			.ui-table-cell-label {
				text-align: left;
				display: inline-block;
				width: 85%;
				margin: 0 0;
    			padding: 0 20px 0 0;
    			font-weight: normal;
    			@media screen and (min-width: $midwidth) {
    				display: none;
    			}
			}
		}
		tr.odd td {
			background-color: #f1f1f1;
		}
		tr.even td {
			background-color: #FFF;
		}
		tr:hover td {
			@media screen and (min-width: $tabwidth) {
				background-color: #e2fdf9;
			}
		}
	}
	.stat-icon {
		font-size: 18px;
		&.check {
			color: #088e27;
			font-size: 18px;
			@media screen and (min-width: $tabwidth) {
				font-size: 20px;
			}
		}
		&.ex {
			color: #c2c3c2;
		}
	}
	a {
		text-decoration: none;
		color: $color-navy;
		&:hover {
			color: $color-red;
		}
	}
}

.location-selections {
	display: block;
	margin-bottom: 15px;
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
	select {
		width: 100%;
		height: 38px;
		line-height: 32px;
	}
}