.site {
	overflow: hidden;
}
.default-template {
	padding-top: 20px;
	min-height: 25em;
	.entry-title {
		margin-top: 0;
	}
	.site-main {
		padding-bottom: 40px;
	}
}
.entry-content {
	p {
		margin-top: 0;
	}
}
.flexrow {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
	.flexcol {
		position: relative;
		box-sizing: border-box;
	}
}

.site-content {
	padding-top: 30px;
	@media screen and (min-width: $tabwidth) {
		padding-top: 100px;
	}
}

.section-home-boxes {
	padding-top: 20px;
	padding-bottom: 20px;
	@media screen and (min-width: $tabwidth) {
		padding-bottom: 50px;
	}
}
.home-three-boxes {
	.flexcol {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		margin-bottom: 30px;
		@media screen and (min-width: $midwidth) {
			width: 33.3%;
			float: left;
			margin-bottom: 0;
		}
	}
	.inside {
		background-color: $color-dark-blue;
		color: #FFF;
		position: relative;
		width: 330px;
		height: 400px;
		overflow: hidden;
		margin: 0 auto;
		@media screen and (min-width: $tabwidth) {
			width: 360px;
			height: 400px;
		}
		@media screen and (min-width: $midwidth) {
			width: 100%;
			height: 395px;
		}
	}
	.boxinfo {
		display: block;
		text-decoration: none;
		color: #FFF;
		padding: 20px 40px;
		position: relative;
		height: 100%;
		box-sizing: border-box;
		z-index: 25;
	}
	.boxcontentwrap {
		display: block;
		width: 100%;
		height: 100%;
		background-color: $color-navy;
		background-image:url('images/box-blue-bg.png');
		background-position: top center;
		background-repeat: repeat;
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 0;
		z-index: 10;
		@include flexbox();
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
		@include transition(all ease-out .7s);
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.21);
		}
		&:after {
			content:"";
			display: block;
			width: 100%;
			height: 25px;
			background-image:url('images/door_handle.png');
			background-repeat:no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.textwrap {
		position: relative;
		z-index: 10;
		padding: 20px 40px;
		span {
			display: block;
			width: 100%;
		}
	}
	.txt1 {
		font-weight: 600;
		font-size: 25px;
		line-height: 1.2;
		text-transform: uppercase;
	}
	.txt2 {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.3;
		margin-top: 10px;
	}
	.icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		opacity: 0.08;
		@include transition(all ease-out .7s);
		img {
			width: 44%;
			height: auto;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.box-inner-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		background: $color-dark-blue;
		color: #FFF;
	}
	.box-inner-pad {
		text-align: left;
		padding: 72px 20px 20px;
		position: relative;
		line-height: 1.4;
		font-size: 13px;
		ul,ol {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
		}
		li {
			line-height: 1.3;
			font-size: 13px;
			padding-bottom: 3px;
		}
		p {
			margin-top: 0;
			margin-bottom: 15px;
		}
		a {
			color: #FFF;
			text-decoration: none;
			font-size: 12px;
			display: inline-block;
			padding: 1px 0;
			&:hover {
				color: $color-red;
			}
		}
		&.has-image {
			ul,ol { 
				float: left;
    			display: inline-block;
			}
			.boxinnertxt {
				width: 70%;
				float: left;
			}
		}
		.boxbuttondiv {
			text-align: center;
			margin-top: 25px;
		}
		.boxButtonlink {
			display: inline-block;
			padding: 6px 15px 5px;
			font-size: 16px;
			font-weight: 600;
			line-height: 1.5;
			color: #FFF;
			background: $color-red;
			text-transform: uppercase;
			&:hover {
				color: #FFF;
				transform: scale(1.2);
			}
		}
	}

	.box-inner-image {
		display: inline-block;
		width: 30%;
		float: left;
		position: relative;
		overflow: hidden;
		padding-left: 2px;
		a,img {
			display: block;
			width: 100%;
			height: auto;
			float: left;
		}
		.btntxt {
			display: block;
			background: $color-red;
			color: #FFF;
			font-weight: 300;
			font-size: 13px;
			line-height: 1.2;
			text-align: center;
			text-transform: uppercase;
			padding: 5px 5px 3px;
		    float: left;
		    width: 100%;
		}
		a:hover {
			opacity: 0.6;
		}
	}

	.inner-title {
		width: 100%;
		padding: 20px 20px 22px;
		color: #FFF;
		position: absolute;
		top: 0;
		z-index: 5;
		.pad {
			background: $color-green;
			width: 100%;
			padding: 5px 10px;
		}
		.txt1 {
			display: block;
			width: 100%;
		}
	}

	.boxinfo.has-inner-content.open,
	.boxinfo.has-inner-content:hover {
		.boxcontentwrap {
			margin-top: -130%;
			@media screen and (min-width: $midwidth) {
				margin-top: -135%;
			}
			@media screen and (min-width: $deskwidth) {
				margin-top: -115%;
			}
		}
		.box-inner-content {
			visibility: visible;
			opacity: 1;
		}
	}
}

.section-home-features {
	background: $color-red;
	color: #FFF;
	padding-top: 30px;
	padding-bottom: 30px;
	@media screen and (min-width: $tabwidth) {
		padding-top: 40px;
		padding-bottom: 45px;
	}
	.wrapper {
		@media screen and (min-width: $tabwidth) {
			max-width: 1000px;
		}
	}
}
.section-home-bottom {
	.wrapper {
		overflow: hidden;
	}
	.flexrow {
		margin-left: 0; 
		margin-right: 0; 
	}
}
.home-icons-features {
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-justify(flex-start);
		@include flexbox-align-items(flex-start);
		@include flexbox-align-content(flex-start);
	}
	.flexcol {
		display: block;
		width: 100%;
		margin-top: 35px;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			margin-top: 0;
		}
		.inside {
			padding-left: 0;
			padding-right: 0;
			@media screen and (min-width: $tabwidth) {
				padding-left: 30px;
				padding-right: 30px;
			}
			@media screen and (min-width: $midwidth) {
				padding-left: 40px;
				padding-right: 40px;
			}
		}
		&.first {
			margin-top: 0;
		}
	}
	.icondiv img {
		width: 100px;
		height: auto;
		margin-bottom: 10px;
		@media screen and (min-width: $tabwidth) {
			width: 90px;
		}
	}
	.titlediv h3 {
		margin: 0 0;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.3;
		color: #FFF;
		text-transform: uppercase;
	}
}

.section-home-bottom {
	.noflexrow {
		position: relative;
		width: 100%;
		float: left;
		@media screen and (min-width: $tabwidth) {
			&:after {
				content:"";
				display: none;
				width: 36%;
				height: 100%;
				background: $color-light-grey;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	.flexcol {
		position: relative;
		z-index: 5;
	}
}

.section-home-storage {
	padding-top: 50px;
	padding-bottom: 0;
	@media screen and (min-width: $tabwidth) {
		width: 64%;
		float: left;
	}
	.flexpad {
		padding-right: 0;
		@media screen and (min-width: $tabwidth) {
			padding-right: 30px;
		}
		@media screen and (min-width: $deskwidth) {
			padding-right: 50px;
		}
	}
	.section-title {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 20px;
		line-height: 1.3;
		margin: 0 0 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $color-red;
	}
	.section-textwrap {
		margin-bottom: 30px;
	}
	.columnswrap {
		padding-bottom: 20px;
	}
	.storage-column {
		@media screen and (min-width: $tabwidth) {
			width: 80%;
			float: left;
		}
		h3 {
			margin: 0 0 10px;
			font-size: 20px;
			font-weight: 600;
		}
		h3.location-title {
			text-transform: uppercase;
		}
		ul {
			margin: 0 0;
			padding: 0 0;
		}
		li {
			list-style: none;
			position: relative;
			font-size: 14px;
			line-height: 1.4;
			margin-bottom: 10px;
			@media screen and (min-width: $tabwidth) {
				padding-right: 20px;
			}
			a {
				color: $color-navy;
				text-decoration: none;
				&:hover {
					color: $color-red;
				}
			}
		}
		.location-column {
			margin-bottom: 30px;
			text-align: center;
			@media screen and (min-width: $tabwidth) {
				width: 50%;
				float: left;
				margin-bottom: 0;
				text-align: left;
			}
		}
	}
	.storage-column-map {
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			width: 18%;
			float: right;
			text-align: right;
		}
		a {
			text-decoration: none;
			display: inline-block;
		}
		img {
			height: auto;
			width: 125px;
			@media screen and (min-width: $tabwidth) {
				width: 110px;
			}
		}
	}
}
.section-home-news {
	background: $color-light-grey;
	@media screen and (min-width: $tabwidth) {
		width: 36%;
		float: right;
	}
	.inside {
		position: relative;
		background: $color-light-grey;
		padding-bottom: 30px;
		margin-bottom: 60px;
		@media screen and (min-width: $tabwidth) {
			margin-bottom: 0;
		}
	}

	.titlediv {
		padding: 30px 20px 10px;
		@media screen and (min-width: $tabwidth) {
			padding: 50px 40px 20px;
		}
	}

	.section-title {
		margin: 0 0;
		padding: 3px 5px 1px;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.3;
		text-transform: uppercase;
		color: #FFF;
		background: $color-navy;
	}

	.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		height: 15%;
		background: -moz-linear-gradient(top, rgba(235,235,235,0) 0%, rgba(209,209,209,0.41) 63%, rgba(209,209,209,0.65) 100%);
		background: -webkit-linear-gradient(top, rgba(235,235,235,0) 0%,rgba(209,209,209,0.41) 63%,rgba(209,209,209,0.65) 100%);
		background: linear-gradient(to bottom, rgba(235,235,235,0) 0%,rgba(209,209,209,0.41) 63%,rgba(209,209,209,0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ebebeb', endColorstr='#a6d1d1d1',GradientType=0 );
		@media screen and (min-width: $tabwidth) {
			bottom: -10px;
		}
	}
}
.home-latest-news {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	/* height: 450px; */
	float: left;
	position: relative;
	/* padding-bottom: 30px; */
	box-sizing: border-box;
	.inner-pad {
		position: relative;
		padding: 0 20px;
		@media screen and (min-width: $tabwidth) {
			padding: 0 40px;
		}
	}
	.inner-pad-autoheight {
		position: relative;
		padding: 0 20px;
		@media screen and (min-width: $tabwidth) {
			padding: 0 40px;
		}
	}
	.news-item {
		width: 100%;
		float: left;
		margin-top: 25px;
	}
	.news-item:first-child {
		margin-top: 0;
	}
	.news-title {
		margin: 0 0 3px;
		font-weight: 600;
		font-size: 15px;
		line-height: 1.3;
		text-transform: uppercase;
		a {
			text-transform: uppercase;
			text-decoration: none;
			outline: none;
			color: $color-navy;
		}
	}
	.excerpt {
		font-size: 13px;
		line-height: 1.4;
	}
	.excerpt p {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.4;
	}
	.button a {
		text-decoration: none;
		color: $color-red;
		font-size: 12px;
		line-height: 1.2;
		display: inline-block;
		border-bottom: 1px solid $color-red;
		&:hover {
			opacity: 0.5;
		}
	}
}

.div-custom-scroll::-webkit-scrollbar {
    width: 8px;
}
 
.div-custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #dedbdb;
}
 
.div-custom-scroll::-webkit-scrollbar-thumb {
  background-color: #16325b;
  outline: none;
  border: 2px solid #dedbdb;
}


.page-link-list {
	margin-top: 20px;
	margin-bottom: 50px;
	ul {
		margin: 0 0;
		padding: 0 0 0 25px;
		list-style: none;
		li {
			position: relative;
			padding-left: 14px;
			line-height: 1.3;
			padding-bottom: 5px;
			ul {
				padding-top: 4px;
				padding-left: 15px;
				li {
					padding-bottom: 3px;
				}
			}
			&:before {
				content:"";
				display: block;
				width: 5px;
				height: 5px;
				background: $color-navy;
				position: absolute;
				top: 8px;
				left: 0;
			}
		}
	}
	a {
		text-decoration: none;
		color: $color-navy;
		&:hover {
			color: $color-red;
		}
	}
}
.page-template-page-news {
	background: #EFEFEF;
}
.news-listing {
	margin-top: 20px;
	.flexcol {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
		@media screen and (min-width: $midwidth) {
			width: 25%;
		}
		.inside {
			box-sizing: border-box;
			height: 100%;
			padding: 15px;
			background: #FFF;
		}
	}
	.post-title {
		font-size: 16px;
		line-height: 1.3;
		text-transform: uppercase;
		margin: 0 0 8px;
		color: $color-navy;
		a {
			text-decoration: none;
			color: $color-navy;
			font-weight: 600;
		}
	}
	.post-excerpt {
		font-size: 13px;
		line-height: 1.5;
	}
	.post-link {
		margin-top: 5px;
	}
	.post-link a {
		display: inline-block;
		font-size: 13px;
		text-decoration: underline;
	}
}

.pagination {
	margin-top: 20px;
	a,span {
		display: inline-block;
		text-decoration: none;
		font-size: 15px;
		line-height: 1.3;
		padding: 5px 8px 3px;
		color: #FFF;
	}
	span.current {
		background: $color-red;
	}
	a {
		background: #bbbfc8;
	}
	.next,.prev {
		font-size: 13px;
		line-height: 20px;
	}
}
body.page-template-page-news {
	.pagination {
		margin-top: 0;
		margin-bottom: 50px;
	}
}

/* Gform */
body .gform_wrapper .gform_body .top_label div.ginput_container {
	margin-top: 3px;
}
.default-template .gform_wrapper {
	@media screen and (min-width: $deskwidth) {
		max-width: 700px;
		width: 100%;
	}
}
.site-main .gform_wrapper {
	* {
		box-sizing: border-box;
	}
	.gform_body label.gfield_label {
		font-weight: 600;
		font-size: 14px;
	}
	ul.gform_fields li.gfield {
		position: relative;
		select {
			height: 36px;
			line-height: 36px;
		}
		&#field_19_5,
		&#field_19_6 {
			box-sizing: border-box;
			@media screen and (min-width: $tabwidth) {
				width: 50%;
				float: left;
				padding-right: 16px;
				clear: none;
				margin-bottom: 20px;
			}
			input[type="text"] {
				width: 100%;
			}
		}
	}
	textarea, select,
	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		border-radius: 0px;
		outline: none;
		@include transition(all ease-out .3s);
		&:focus {
			box-shadow: 0px 0px 8px 0px rgba(6,55,128,0.33);
			border: 1px solid $color-navy;
		}
	}	
	.gform_footer input.button,
	.gform_footer input[type=submit] {
		-webkit-appearance: none;
		background: $color-green;
		color: #FFF;
		text-shadow: none;
		box-shadow: none;
		border-radius: 0px;
		border: none;
		margin: 0 0;
		padding: 13px 33px 11px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 18px;
		@include transition(all ease-out .3s);
		&:hover {
			background: #2d9e57;
		}
	}
	.gfield_captcha_input_container.math_medium {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			float: left;
		}
		input {
			width: 100%;
			@media screen and (min-width: $tabwidth) {
				width: 48.9%;
				float: left;
			}
		}
	}
}


.error-404 {
	text-align: center;
	.midwrap {
		display: inline-block;
		padding-bottom: 50px;
	}
	.entry-title {
		margin-bottom: 0;
	}
	p {
		margin-top: 0;
	}
	.page-link-list {
		display: inline-block;
		text-align: left;
		margin-top: 0;
	}
}

.features-amenities {
	margin-top: 20px;
	margin-bottom: 50px;
}
.table-style {
	width: 100%;
	border-collapse: collapse;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 5px solid $color-green;
	margin: 0 0;
	thead {
		display: none;
		@media screen and (min-width: $midwidth) {
			display: table-header-group;
		}
	}
	th {
		background: $color-green;
		color: #FFF;
		font-weight: normal;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.2;
		text-align: center;
		padding: 15px 10px;
		text-shadow: none;
		vertical-align: middle;
		border-left: 1px solid rgba(255,255,255,.5);
		&.hcol1 {
			font-weight: bold;
			text-transform: uppercase;
			width: 180px;
			border-left: none;
		}
	}
	tbody {
		td {
			padding: 8px 20px;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.3;
			text-align: left;
			vertical-align: middle;
			border: none;
			border-left: none;
			border-bottom: 1px solid #e6e8e8;
			float: left;
			width: 100%;
			box-sizing: border-box;
			@media screen and (min-width: $midwidth) {
				padding: 18px 10px;
				text-align: center;
				border-bottom: none;
				border-left: 1px solid #e6e8e8;
				float: none;
				width: auto;
			}
			&.bcol1 {
				text-align: left;
				border-left: none;
				.ui-table-cell-label {
					display: none;
				}

				a {
					display: inline-block;
					text-align: left;
					font-size: 20px;
					font-weight: normal;
					margin-top: 20px;
					margin-bottom: 0;
					@media screen and (min-width: $midwidth) {
						text-align: left;
						font-size: 14px;
						line-height: 1.3;
						margin: 0 0;
					}
					&:visited,&:active,&:focus {
						color: $color-navy;
					}
					&:hover {
						color: $color-red;
					}
				}
			}
			.ui-table-cell-label {
				text-align: left;
				display: inline-block;
				width: 85%;
				margin: 0 0;
    			padding: 0 20px 0 0;
    			font-weight: normal;
    			@media screen and (min-width: $midwidth) {
    				display: none;
    			}
			}
		}
		tr.odd td {
			background-color: #f1f1f1;
		}
		tr.even td {
			background-color: #FFF;
		}
		tr:hover td {
			@media screen and (min-width: $tabwidth) {
				background-color: #e2fdf9;
			}
		}
	}
	.stat-icon {
		font-size: 18px;
		&.check {
			color: #088e27;
			font-size: 18px;
			@media screen and (min-width: $tabwidth) {
				font-size: 20px;
			}
		}
		&.ex {
			color: #c2c3c2;
		}
	}
	a {
		text-decoration: none;
		color: $color-navy;
		&:hover {
			color: $color-red;
		}
	}
}

.location-selections {
	display: block;
	margin-bottom: 15px;
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
	select {
		width: 100%;
		height: 38px;
		line-height: 32px;
	}
}

.space-options {
	margin-top: 20px;
	margin-bottom: 50px;
	.flexrow {
		@media screen and (min-width: $tabwidth) {
			@include flexbox-align-content(center);
			@include flexbox-justify(center);
		}
	}
	.flexcol {
		width: 100%;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
		@media screen and (min-width: $tabwidth) {
			width: 49.9%;
			margin-bottom: 30px;
		}
		@media screen and (min-width: $midwidth) {
			width: 33.3%;
		}
		@media screen and (min-width: $deskwidth) {
			width: 19.9%;
		}
	}
	.inside {
		padding: 10px;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
		height: auto;
		box-sizing: border-box;
		@media screen and (min-width: $tabwidth) {
			height: 100%;
		}
	}
	.featimg {
		width: 100%;
		height: auto;
		display: block;
		@media screen and (min-width: $tabwidth) {
			display: none;
		}
	}
	.imagewrap {
		margin-bottom: 15px;
	}
	.imagediv {
		display: none;
		@media screen and (min-width: $tabwidth) {
			display: block;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 250px;
		}
	}
	.name {
		font-size: 23px;
		font-weight: 600;
		line-height: 1.2;
		margin: 0 0 12px;
		text-align: center;
		span {
			display: block;
			width: 100%;
			font-size: 19px;
		}
	}
	.description {
		text-align: center;
		line-height: 1.3;
		padding-bottom: 10px;
	}
	.buttondiv {
		margin-top: 20px;
		a {
			display: inline-block;
			font-size: 20px;
			line-height: 1.3;
			text-transform: uppercase;
			text-decoration: none;
			background: $color-red;
			border-radius: 5px;
			color: #FFF;
			padding: 15px 30px 12px;
			&:hover {
				color: #FFF;
				background: $color-light-red;
			}
		}
	}
}

.storagelocations {
	.col-left {
		margin-bottom: 30px;
		@media screen and (min-width: $tabwidth) {
			width: 56%;
			float: left;
			margin-bottom: 0;
		}
	}
	.col-right {
		margin-top: 0;
		margin-bottom: 30px;
		@media screen and (min-width: $tabwidth) {
			width: 40%;
			float: right;
			margin-top: 80px;
			margin-bottom: 50px;
		}
		iframe {
			width: 100%!important;
			border: none;
		}
	}
	.location-list {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.locations {
		margin: 15px 0;
		padding-left: 15px;
		padding-right: 15px;
		@media screen and (min-width: $tabwidth) {
			width: 49.9%;
		}
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
			@media screen and (min-width: $tabwidth) {
				display: inline-block;
				float: left;
				&.list-2 {
					float: right;
				}
			}
		}
		li {
			position: relative;
			margin-bottom: 8px;
			padding-left: 15px;
			&:before {
				content:"";
				display: block;
				width: 6px;
				height: 6px;
				background: $color-navy;
				position: absolute;
				top: 8px;
				left: 0;
			}
		}
		a {
			font-size: 16px;
			font-weight: 500;
			line-height: 1.3;
			color: $color-navy;
			text-decoration: none;
			&:hover {
				color: $color-red;
			}
		}
	}
}

.location-tabs {
	margin-top: 40px;
}
.tabswrapper {
	margin-bottom: 30px;
	.tabs-style {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		width: 100%;
		display: none;
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-align-items(flex-end);
		}
		li {
			display: inline-block;
			margin-right: 1px;
			position: relative;
			text-align: center;
		}
		a {
			cursor: pointer;
			outline: none;
			display: block;
			text-decoration: none;
			color: #FFF;
			padding: 12px 10px 10px;
			background: $color-navy;
			font-size: 13px;
    		line-height: 1.3;
    		position: relative;
    		@media screen and (min-width: $midwidth) {
    			padding: 12px 18px 10px;
    			font-size: 14px;
    		}
			&:hover {
				background: $color-light-blue;
			}
		}
		li.active {
			margin-right: 0;
			a span {
				background:#FFF;
				position: relative;
				z-index: 15;
				top: -3px;
			}
			a {
				background:#FFF;
				color: $color__text-main;
				box-shadow: 1px -2px 8px 1px rgba(0, 0, 0, 0.15);
				z-index: 10;
				padding-top: 20px;
				padding-bottom: 12px;
			}
			a:before, a:after {
				content:"";
				display: block;
				background: #FFF;
				position: absolute;
			}
			a:before {
				border-top: 4px solid $color-navy;
				border-left: 1px solid $color-medium-grey;
				border-right: 1px solid $color-medium-grey;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			a:after {
				width: 98%;
				height: 100%;
				bottom: -6px;
				left: 1px;
			}
		}
	}
	.tab-content-wrapper {
		position: relative;
    	background: #FFF;
    	box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.15);
    	@media screen and (min-width: $tabwidth) {
    		padding: 20px;
    		top: -1px;
    		border: 1px solid $color-medium-grey;
    	}
	}

	.tab-content {
		display: block;
		@media screen and (min-width: $tabwidth) {
			display: none;
		}
		&.active {
			display: block;
		}
	}

	.tab-inner-content {
		display: block;
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		@include transition ( all ease-out .3s );
		@media screen and (min-width: $tabwidth) {
			overflow: auto;
			transition: none;
			height: auto;
			opacity: 1;
		}
		&.active {
			display: block;
		}
		.innerpad {
			padding: 20px;
		}
		p {
			margin-top: 0;
		}
		.content-left {
			@media screen and (min-width: $tabwidth) {
				width: 65%;
				float: left;
			}
		}
		.content-right {
			@media screen and (min-width: $tabwidth) {
				width: 32%;
				float: right;
			}
			iframe {
				width: 100%!important;
			}
		}
		.col-left {
			@media screen and (min-width: $tabwidth) {
				width: 48%;
				float: left;
			}
		}
		.col-right {
			@media screen and (min-width: $tabwidth) {
				width: 48%;
				float: right;
			}
		}
	}
	.active .tab-inner-content,
	.open .tab-inner-content {
		display: block;
		height: auto;
		max-height: 100%;
		opacity: 1;
	}

	.tab-title {
		display: block;
		font-size: 18px;
		font-weight: normal;
		line-height: 1.3;
		color: $color-navy;
		margin: 2px 0 0;
    	padding: 10px 15px;
    	position: relative;
    	border: 1px solid $color-medium-grey;
		@media screen and (min-width: $tabwidth) {
			display: none;
		}
		.arrow {
			display: inline-block;
			position: absolute;
			right: 18px;
			font-size: 20px;
			color: #CCC;
			@include transition(all ease-out .3s);
			&.open {
				transform: rotate(-180deg);
			}
		}
	}
	#details1 .tab-title {
		margin-top: 0;
	}
	.open .tab-title .arrow,
	.active .tab-title .arrow { 
		transform: rotate(-180deg);
	}

	.infowrap {
		margin-bottom: 35px;
	}
	span.lbl {
		display: inline-block;
		width: 60px;
	}
	.section-title {
		display: block;
		margin: 0 0 10px;
		font-weight: 600;
		font-size: 20px;
		line-height: 1.3;
		text-transform: uppercase;
		width: 100%;
	}
	.flexcol.feature-list {
		padding-left: 15px;
		padding-right: 15px;
		margin: 10px 0;
		@media screen and (min-width: $tabwidth) {
			width: 33.3%;
			margin-bottom: 0;
		}
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
		}
		li {
			position: relative;
			padding-left: 20px;
			line-height: 1.3;
		 	margin-bottom: 8px;
		}
		.disc {
			display: block;
			width: 10px;
			height: 10px;
			background: $color-red;
			position: absolute;
			top: 4px;
			left: 0;
		}
		.check-icon {
			color: $color-red;
			position: absolute;
			top: 2px;
			left: 0;
			font-size: 13px;
		}
	}
}	

.table-style.normal-table {
	thead {
		display:table-header-group;
		tr th:first-child {
			border-left: none;
		}
	}
	th {
		padding: 10px 10px;
	}
	td {
		padding: 8px 10px;
		width: auto;
    	float: none;
    	border-left: 1px solid #e6e8e8;
    	&.bcol1 {
    		border-left: none;
    	}
	}
	tbody tr td:first-child {
		border-left: none;
	}
}
.size_pricing {
	max-width: 815px;
	width: 100%;
	margin: 0 auto;
	table.table-style {
		width: 100%;
	}
	tbody tr td {
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			text-align: center;
		}
		&.bcol1 {
			text-align: left;
			@media screen and (min-width: $tabwidth) {
				text-align: center;
			}
		}
	}
}

.location-gallery-wrapper {
	margin-bottom: 40px;

	.imagediv {
		display: block;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		@include transition(all ease-out .3s);
	}

	.slick-slide {
		overflow: hidden;
		padding: 5px;
		height: 180px;
		@media screen and (min-width: $tabwidth) {
			height: 180px;
		}
		@media screen and (min-width: $midwidth) {
			height: 220px;
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
			@include transition(all ease-out .3s);
			&:before {
				content:"";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 5;
				opacity: 0;
				visibility: hidden;
				box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.5);
				@include transition(all ease-out .3s);
			}
			&:hover {
				.imagediv {
					transform: scale(1.3);
				}
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		img {
			display: none;
			width: 100%;
			height: auto;
		}
	}

	.slick-dots {
		bottom: -35px;
	}
	.slick-dots li {
		width: 10px;
		height: 10px;
		background: $color-medium-grey;
		border-radius: 100%;
		button{
			visibility: hidden;
		}
		&.slick-active {
			background: $color-red;
		}
	}
	.slick-prev, .slick-next {
		-webkit-appearance: none;
		box-shadow: none;
		background: transparent;
		text-shadow: none;
		border: none;
		outline: none;
	}
	.slick-prev:before, .slick-next:before {
		color: #b0afaf;
	}
}

.single-location-page {
	.entry-header {
		width: 100%;
		float: left;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.entry-header h1 {
		margin: 0 0;
		@media screen and (min-width: $tabwidth) {
			width: 60%;
			float: left;
		}
	}
	.location-list-select {
		@media screen and (min-width: $tabwidth) {
			width: 36%;
			float: right;
		}
		select {
			width: 100%;
			height: 34px;
			line-height: 34px;
		}
	}
}
.select2-container {
	width: 100%;
	.select2-selection--single {
		height: 36px;
		border-radius: 0px;
		border:1px solid #CCC;
	}
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 99%;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: $color-green;
}
.entry-content {
	margin-bottom: 30px;
	@media screen and (min-width: $tabwidth) {
		margin-bottom: 60px;
	}
	ul {
		margin-left: 0;
	}
}
.entry-header {
	margin-bottom: 30px;
}
.page-with-sidebar {
	.content-area {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width: 66%;
			float: left;
		}
	}
}
.recent-news-posts {
	background: $color-navy;
	margin-bottom: 50px;
	padding: 40px 0;
	.flexcol {
		padding-left: 15px;
		padding-right: 15px;
		@media screen and (min-width: $tabwidth) {
			width: 33%;
			float: left;
		}
	}
	.inside {
		background: #FFF;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,.3);
		padding: 20px;
		height: 100%;
	}
	.post-title {
		margin: 0 0 15px;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.3;
		color: $color-navy;
		text-transform: uppercase;
		a {
			font-weight: 600;
			text-decoration: none;
			color: $color-navy;
		}
	}
	.post-link {
		margin-top: 10px;
		a {
			font-size: 13px;
		}
	}
}

.mainbtn {
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	background: $color-red;
	font-size: 13px;
	padding: 7px 15px 6px;
	&:hover {
		color: #FFF;
		opacity: .45;
	}
}
body.single-post {
	.entry-title {
		margin-bottom: 3px;
	}
	.post-date {
		font-size: 13px;
	}
	#secondary {
		background: $color-light-grey;
		margin-bottom: 50px;
	}
	.widget {
		margin: 0 0;
	}
	.widget-title {
		margin: 0 0;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.3;
		padding: 5px 20px;
		background: $color-navy;
		color: #FFF;
	}
	ul {
		margin: 0 0;
		padding: 10px 20px;
		list-style: none;
		li {
			font-size: 14px;
			line-height: 1.3;
			padding: 4px 0;
		}
		a {
			display: inline-block;
			text-decoration: none;
			color: $color-navy;
			&:hover {
				color: $color-red;
			}
		}
	}
}

section.faqs {
	width: 100%;
	float: left;
}
.faqrow {
	width: auto;
	overflow: hidden;
	margin: 0 0 10px 0;	
	border: 1px solid $color-medium-grey;
	background-color: rgba(255,255,255,.05);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}
.question {
	width: 100%;
	float:left;
	font-weight: bold;
	font-size: 20px;
	cursor:pointer;	
	line-height: 1.3;
	position: relative;
	padding: 12px 15px;
	box-sizing: border-box;
}
.question-image.close {
	background-position: -15px 0;	
}
.answer {
	width: 100%;
	float:left;
	font-size: 16px;
	line-height: 1.3;
	padding: 0 40px 0;
	margin-bottom: 10px;
	display:none;
}
.plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 18px;
	right: 18px;
	top: 43%;
	z-index:2;

    &:before,
    &:after {
      background: $color-navy;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 21px;
      transition: transform 500ms ease;
    }

    &:after {
      transform-origin: center;
    }

    &.collapsed {
      &:after {
        transform: rotate(90deg);

      }

      &:before {
        transform: rotate(180deg);
      }
    }
}
.leadintext {
	margin-bottom: 15px;
}
.page-template-page-nonavigation {
	.site-header {
		height: 50px;
		@media screen and (min-width: $tabwidth) {
			height: 68px;
		}
	}
	.contact-details {
		p {
			margin-top: 0;
		}
	}
}
.testimonials-list {
	border-top: 2px solid $color-navy;
	border-bottom: 2px solid $color-navy;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
	@media screen and (min-width: $midwidth) {
		margin-top: 80px;
	}
	.flexrow {
		margin-left: -15px;
		margin-right: -15px;
		@media screen and (min-width: $tabwidth) {
			@include flexbox-justify(center);
		}
	}
	.section-title {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.flexcol {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 20px;
		@media screen and (min-width: $tabwidth) {
			width: 49.9%;
			margin-bottom: 30px;
		}
	}
	.inside {
		height: 100%;
		box-sizing: border-box;
		font-size: 14px;
		line-height: 1.5;
		p {
			margin-top: 0;
			margin-bottom: 10px;
		}
		.author {
			margin-top: 8px;
			font-weight: bold;
		}
	}
	.rating {
		margin-bottom: 2px;
		.star {
			display: inline-block;
			font-size: 14px;
			color: #f5ca45;
		}
	}
}
.sticky_sidebar {
	.sidebar__inner {
		@include transition(all ease-out .3s);
	}
}
.sticky_sidebar.is-affixed {
	z-index: 1000;
	margin-top: -8%;
}
.content-area-wrap {
	width: 100%;
	margin-bottom: 20px;
	@media screen and (min-width: $midwidth) {
		width: 66%;
		float: left;
		margin-bottom: 0;
	}
}
.widget-contact-info {
	width: 100%;
	position: relative;
	@media screen and (min-width: $midwidth) {
		width: 28%;
		float: right;
	}
	h2 {
		margin: 0 0;
		font-size: 22px;
		line-height: 1.3;
	}
	.gform_wrapper {
		background: #efefef;
		padding: 20px;
		ul.gform_fields li:first-child {
			margin-top: 0;
		}
		li#field_20_2 {
			margin-top: 5px;
		}
	}
	.gform_wrapper {
		margin-top: 0!important;
	}
	.gform_wrapper ul.gform_fields li.gfield {
		padding-right: 0;
	}
	.gform_wrapper .gform_footer {
		margin-top: 0!important;
	}
	.innerWrap {
		background: #efefef;
		padding: 20px;
	}
	#phoneInfoArea {
		margin-bottom: 20px;
	}
}
.masonry-style {
	column-count: 1;
	column-gap: 25px;
	@media screen and (min-width: $tabwidth) {
		column-count: 2;
	}
	@media screen and (min-width: $midwidth) {
		column-count: 3;
	}
	.item {
		display: inline-block;
		width: 100%;
	}
}
.contact-location-list {
	background: #f1f1f1;
	padding: 25px 0;
	.item {
		margin-top: 13px;
		margin-bottom: 13px;
		h2 {
			margin: 0 0;
		}
		h2,
		.label {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 15px;
			line-height: 1.3;
			margin-bottom: 5px;
		}
	}
	.item .inside {
		background: #FFF;
	}
	.txtwrap {
		padding: 20px 20px 0;
	}
	.buttondiv {
		margin-top: 20px;
		background: $color-red;
		color: #FFF;
		text-align: center;
		a {
			padding: 8px;
			display: block;
			text-decoration: none;
			color: #FFF;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.3;
			&:hover {
				color: rgba(255,255,255,.5);
			}
		}
	}
	.address-info {
		margin-bottom: 25px;
	}
	.location {
		margin: 0 0 20px;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.3;
		color: $color-red;
		border-bottom: 1px solid $color-red;
		position: relative;
		padding-left: 22px;
		padding-bottom: 15px;
		.icon {
			position: absolute;
			top: 1px;
			left: 0;
			font-size: 18px;
		}
	}
	.lbl {
		display: inline-block;
		width: 68px;
	}
	.info a {
		color: $color-navy;
		text-decoration: none;
		&:hover {
			color: $color-red;
		}
	}
}
.page-template-page-contact {
	.entry-content {
		margin-bottom: 20px;
	}
}
.nonavpage {
	.entry-content {
		margin-bottom: 20px;
		@media screen and (min-width: $midwidth) {
			margin-bottom: 60px;
		}
	}
}

.tab-content iframe {
	border: none!important;
	width: 100%;
	height: 780px;
}
#details2 iframe {
	position: relative;
    left: 13px;
    margin-top: 20px;
}

.coupon {
	position: relative;
	padding: 0 20px;
	margin-bottom: 20px;
	text-align: center;
	@media screen and (min-width: $midwidth) {
		padding: 0 40px;
	}
	.c_inside {
		background-color: #1DB358;
		padding: 10px;
	}
	.wrap {
		padding: 15px 15px 10px;
		border: 1px dashed rgba(255,255,255,.85);
	}
	.line1 {
		font-family: 'Patua One', cursive;
		font-size: 20px;
		font-weight: 800;
		text-transform: uppercase;
		line-height: 1.2;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, .25);
	}
	.line2 {
		font-size: 20px;
		font-weight: 300;
		line-height: 1.1;
	}
	.coupon_description {
		margin-top: 10px;
		p {
			margin-top: 0;
			margin-bottom: 10px;
			line-height: 1.3;
			font-size: 12px;
		}
		a {
			color: $color__text-main;
			text-decoration: none;
			font-weight: bold;
		}
	}
}



