$color__background-body: #FFFFFF;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #ed293b;
$color__link-visited: #16325b;
$color__link-hover: #fa5968;
$color__text-main: #16325b;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color-black: #000;
$color-navy: #16325b;
$color-dark-blue: #182341;
$color-green: #047956;
$color-red: #ed293b;
$color-light-grey: #ebebeb;